// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}

// Card State - Hover
@mixin card-state-hover($color: false) {
    transform: scale(1.05);
    box-shadow: $box-shadow-m;
    border-radius: $card-border-radius;
}
// Card State - Floating
@mixin card-state-floating($color: false) {
    transform: scale(1.15);
    box-shadow: $box-shadow-l;
    border-radius: $card-border-radius;
}

// Card Element - Dmg Triangle Big
@mixin card-dmg-triangle($direction: right, $color: $color-black) {
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        
        @if $direction == 'up' {
            top: -10px;
            border-width:  0 12.5px 10px 12.5px;
            border-color: transparent transparent $color transparent;
        }
        @if $direction == 'right' {
            right: -10px;
            border-width: 12.5px 0 12.5px 10px;
            border-color: transparent transparent transparent $color;
        }
        @if $direction == 'down' {
            bottom: -10px;
            border-width: 10px 12.5px 0 12.5px;
            border-color: $color transparent transparent transparent;
        }
        @if $direction == 'left' {
            left: -10px;
            border-width: 12.5px 10px 12.5px 0;
            border-color: transparent $color transparent transparent;
        }
    }
}
