// Colors 
$color-red        : #FF5D5D;
$color-blue       : #5D9AFF;
$color-grey       : #f1f7f9;
$color-grey-dark  : #636f74;
$color-grey-darker: #222A30;
$color-black      : #131e25;
$color-border     : #E2E8F0;
$color-link       : #5D9AFF;
$color-headline   : #ffffff;
$color-blockquote : #ffffff;
$color-text       : #f1f7f9;

// Typography
// varliables in _typography.scss

// Borders
$border: 1px solid var($color-border);

// Border-Radius
$border-radius: 4px;

// Box-shadows:
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);