.battlefield {
    $this: &;
    display: grid;
    grid-gap: rem($battlefield-slot-gap);
    overflow: hidden;
    
    &--2x2 {
        grid-template-rows: $card-width $card-width;
        grid-template-columns: $card-width $card-width;
    }
    &--3x2 {
        grid-template-rows: $card-width $card-width;
        grid-template-columns: $card-width $card-width $card-width;
    }
    &--4x2 {
        grid-template-rows: $card-width $card-width;
        grid-template-columns: $card-width $card-width $card-width $card-width;
    }
    &--3x3 {
        grid-template-rows: $card-width $card-width $card-width;
        grid-template-columns: $card-width $card-width $card-width;
    }
    &--4x3 {
        grid-template-rows: $card-width $card-width $card-width;
        grid-template-columns: $card-width $card-width $card-width $card-width;
    }
    &--4x4 {
        grid-template-rows: $card-width $card-width $card-width $card-width;
        grid-template-columns: $card-width $card-width $card-width $card-width;
    }

    &__slot {
        background-color: $color-grey-darker;
        border-radius: $card-border-radius;
        position: relative; //For: Connector lines

        &::before,
        &::after {
            content:'';
            display: block;
            background-color: $color-grey-darker;
            position: absolute;
            width: rem(7.5px);
            height: rem(7.5px);
        }
        &::before {
            top: calc(50% - 4px); 
            right: -#{rem($battlefield-slot-gap)};
            width: $card-width + ($battlefield-slot-gap * 2);
        }
        &::after {
            bottom: -#{rem($battlefield-slot-gap)};
            right: calc(50% - 4px); 
            height: $card-height + ($battlefield-slot-gap * 2);
        }

        &--filled {
        }
        &--red {               
        }
        &--blue {
        }

    }

}