.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(7.5px);
    background-color: $color-grey-darker;
    border-radius: $border-radius;
    color: #fff;
    cursor: pointer;
    border: none;
    
    // End Turn Button
    &--end-turn {
        width: $card-width;
        position: relative; //For: Timer Progress animation
        overflow: hidden;
    }

    &__countdown-label {
        z-index: 1; //For: Timer Progress overlay
    }

    &__countdown-progress {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;

        &--animating {
            animation: countdownProgress;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-play-state: running;
            animation-timing-function: linear;
        }

        &--red {
            background-color: $color-red;
        }
        &--blue {
            background-color: $color-blue;
        }
    }
}