.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(7.5px);
    background-color: $color-grey-darker;
    border-radius: $border-radius;
    color: #fff;
    cursor: pointer;
    border: none;
    
    &--end-turn {
        width: $card-width;
    }
}