.card {
    display: flex;
    width: $card-width;
    height: $card-height;
    background-color: black;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    @include transition();

    &:not(:last-child){
        margin-bottom: rem($card-pool-gap);
    }

    &__inner {
        flex: 1;
        border-radius: $card-border-radius - 3px;
        background-image: url('../img/cards/sample-card.jpg');
        background-size: cover;
    }
    &--red {
        border: 3px solid $color-red;
    }
    &--blue {
        border: 3px solid $color-blue;
    }
}

// Grabbing Cursor
.card-pool .card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}
// Hover Effects
.card-pool .card {
    &:hover {
        @include card-state-hover();
    }
}