.card-pool {
    $this: &;
    min-height: ($card-height * 3) + ($card-pool-gap * 2);

    &:not(:last-child){
        margin-bottom: rem(20px);
    }

    & > * {
        animation: cardDraw 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s forwards;
        // Prestate
        opacity: 0;
        transform: translateY(rem($card-height));
        transform-origin: top center;
    }
    
}