.card {
    $this: &;
    display: flex;
    width: $card-width;
    height: $card-height;
    &:not(:last-child){
        margin-bottom: rem($card-pool-gap);
    }

    &__inner {
        flex: 1;
        background-color: black;
        border-radius: $card-border-radius;
        box-shadow: $card-box-shadow;
        background-image: url('../img/cards/sample-card.jpg');
        background-size: cover;
        // perspective: 400px;
        // transform-style: preserve-3d;
        // will-change: transform;
        @include transition();
    }

    &__front {
    }
    &__back {
    }

    &--red {
        #{$this}__inner { border: 3px solid $color-red; }
    }
    &--blue {
        #{$this}__inner { border: 3px solid $color-blue; }
    }
    &--flying {
        cursor: grabbing;
        @include transition();
        @include card-state-floating();
    }
    &--dropped {}
    &--flipped {}
}

// Grabbing Cursor
.card-pool .card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}
// Hover Effects
.card-pool .card .card__inner {
    &:hover {
        @include card-state-hover();
    }
}