.card {
    $this: &;
    display: flex;
    width: $card-width;
    height: $card-height;
    perspective: 800px;
    position: relative;
    
    &:not(:last-child){
        margin-bottom: rem($card-pool-gap);
    }

    &__inner {
        flex: 1;
        transform-style: preserve-3d;
        will-change: transform;
        border-radius: $card-border-radius;
        box-shadow: $card-box-shadow;
        @include transition();
        
    }
    &__front {
        position: absolute;
        width: 100%;
        height: 100%;
        color: black;
        background-color: #fff;
        background-image: url('../img/cards/sample-card.jpg');
        background-size: cover;
        border-radius: $card-border-radius;
        box-shadow: $card-box-shadow;
        backface-visibility: hidden;
    }
    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        color: black;
        background-color: #fff;
        background-image: url('../img/cards/sample-card.jpg');
        background-size: cover;
        backface-visibility: hidden;
        border-radius: $card-border-radius;
        box-shadow: $card-box-shadow;
        transform: rotateY(180deg); //For: flip effect
    }

    &--red {
        #{$this}__front,
        #{$this}__back { border: 3px solid $color-red; }
    }
    &--blue {
        #{$this}__front,
        #{$this}__back { border: 3px solid $color-blue; }
    }
    &--flying {
        cursor: grabbing;
        @include transition();
        @include card-state-floating();
    }
    &--dropped {

    }
    &--flipped {
        #{$this}__inner {
            transform: rotateY(180deg);
        }
    }
}

// Grabbing Cursor
.card-pool .card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}
// Hover Effects
.card-pool .card .card__inner {
    &:hover {
        @include card-state-hover();
    }
}