.deck {
    $this: &;
    width: $card-width;
    height: $card-height;
    padding: rem(20px);
    background-color: black;
    border-radius: $card-border-radius;
    
    &:not(:last-child){
        margin-bottom: rem($card-pool-gap);
    }

    &--red {
        
    }
    &--blue {
        
    }

}