.deck {
    width: $card-width;
    height: $card-height;
    padding: rem(20px);
    background-color: black;
    border-radius: $card-border-radius;
    
    &:not(:last-child){
        margin-bottom: rem(20px);
    }

    &--red {
        background-color: $color-red;
    }
    &--blue {
        background-color: $color-blue;
    }

}