.phase {
    $this: &;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    
    &--red {
        flex-direction: row;
        
        #{$this}__step {
            margin-right: 5px;
            &:last-child {margin-right: 10px;}
        }
    }
    &--blue {
        flex-direction: row-reverse;
        
        #{$this}__step {
            margin-left: 5px;
            &:last-child {margin-left: 10px;}
        }
    }

    &--1 {
        &::after {content: 'Draw'}
    }
    &--2 {
        &::after {content: 'Summon'}
    }
    &--3 {
        &::after {content: 'Combat'}
    }
    &--4 {
        &::after {content: 'End'}
    }

    &__step {
        border-radius: $border-radius-s;
        background-color: $color-grey-darker;
        width: rem(10px);
        height: rem(20px);

        #{$this}--1#{$this}--red &:nth-child(-n+1) {background-color: $color-red;}
        #{$this}--2#{$this}--red &:nth-child(-n+2) {background-color: $color-red;}
        #{$this}--3#{$this}--red &:nth-child(-n+3) {background-color: $color-red;}
        #{$this}--4#{$this}--red &:nth-child(-n+4) {background-color: $color-red;}

        #{$this}--1#{$this}--blue &:nth-child(-n+1) {background-color: $color-blue;}
        #{$this}--2#{$this}--blue &:nth-child(-n+2) {background-color: $color-blue;}
        #{$this}--3#{$this}--blue &:nth-child(-n+3) {background-color: $color-blue;}
        #{$this}--4#{$this}--blue &:nth-child(-n+4) {background-color: $color-blue;}
    }
}