.score {
    $this: &;
    display: flex;
    align-items: center;

    &--red {
        flex-direction: row-reverse;
        margin-right: rem(10px);
    }
    &--blue {
        flex-direction: row;
        margin-left: rem(10px);
    }

    &__dot {
        width: rem(10px);
        height: rem(10px);
        border-radius: 100px;
        background-color: $color-grey-darker;
        margin: 0 rem(3.5px);

        #{$this}--red &--filled {
            background-color: $color-red;
        }
        #{$this}--blue &--filled {
            background-color: $color-blue;
        }
    }
}