.main {
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - #{$header-height + $footer-height});
    flex: 1;

    &__stage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: rem(30px);
        
        // Scrollable + Hide Scrollbar
        overflow: scroll;
        &::-webkit-scrollbar {display: none;} scrollbar-width: none; -ms-overflow-style: none;
    }

    &__aside {
        width: $sidebar-width;
        padding: rem(20px);

        // Scrollable + Hide Scrollbar
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {display: none;} scrollbar-width: none; -ms-overflow-style: none;

        &--left {
            border-top-right-radius: $border-radius-m;
            border-bottom-right-radius: $border-radius-m;
            background-color: $color-red-dark;
        }
        &--right {
            border-top-left-radius: $border-radius-m;
            border-bottom-left-radius: $border-radius-m;
            background-color: $color-blue-dark;
        }
    }
}